body {
  font-family: sans-serif;
  margin: 30px;
  background: #f9f9f9;
}

.buttons {
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

svg {
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.annotation-note-label {
  font-size: 12px;
}

.annotation-note-title {
  font-weight: bold;
}
